/* Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.sip-app {
    @apply
        h-[90vh]
        bg-white;

    .tab-container {
        @apply
            flex
            flex-wrap
            text-sm
            font-medium
            text-center
            text-gray-500
            border-b
            border-gray-200
            dark:border-gray-700
            dark:text-gray-400
            cursor-pointer
    }

    .tab-item-active {
        @apply
            inline-block
            p-4
            text-blue-600
            bg-gray-100
            rounded-t-lg
            dark:bg-gray-800
            dark:text-blue-500
    }

    .tab-item {
        @apply
            inline-block
            p-4
            rounded-t-lg
            hover:text-gray-600
            hover:bg-gray-50
            dark:hover:bg-gray-800
            dark:hover:text-gray-300
    }

    .text-input-label {
        @apply
            block
            mb-2
            text-sm
            font-medium
            text-gray-900
            dark:text-white
    }

    .text-input {
        @apply
            bg-gray-50
            border
            border-gray-300
            text-gray-900
            text-sm rounded-lg
            focus:ring-blue-500
            focus:border-blue-500
            block
            w-full
            p-2.5
            dark:bg-gray-700
            dark:border-gray-600
            dark:placeholder-gray-400
            dark:text-white
            dark:focus:ring-blue-500
            dark:focus:border-blue-500
    }

    .select-input-label {
        @apply
            block
            mb-2
            text-sm
            font-medium
            text-gray-900
            dark:text-white
    }

    .select-input {
        @apply
            bg-gray-50
            border
            border-gray-300
            text-gray-900
            text-sm
            rounded-lg
            focus:ring-blue-500
            focus:border-blue-500
            block
            w-full
            p-2.5
            dark:bg-gray-700
            dark:border-gray-600
            dark:placeholder-gray-400
            dark:text-white dark:focus:ring-blue-500
            dark:focus:border-blue-500
    }

    .action-button {
        @apply
            text-white
            bg-blue-700
            hover:bg-blue-800
            focus:ring-4
            focus:ring-blue-300
            font-medium
            rounded-lg
            text-sm
            px-5
            py-2.5
            mr-2
            mb-2
            dark:bg-blue-600
            dark:hover:bg-blue-700
            focus:outline-none
            dark:focus:ring-blue-800
    }

    .action-button-loading {
        @apply
            inline-flex
            items-center
            text-white
            bg-blue-700
            hover:bg-blue-800
            focus:ring-4
            focus:ring-blue-300
            font-medium
            rounded-lg
            text-sm
            px-5
            py-2.5
            mr-2
            mb-2
            dark:bg-blue-600
            dark:hover:bg-blue-700
            focus:outline-none
            dark:focus:ring-blue-800
            transition duration-150 ease-in-out
            shadow
            cursor-not-allowed
    }
}
